.drawingBoard {
    width: 150px;
}

.drawingBoard .choosenColor {
    width: 30px;
    height: 30px;
}

.drawingBoard .pallette {
    display: flex;
    justify-content: space-around;
}

.drawingBoard .pallette .palletteEntry {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border:1px solid #ccc;
}